@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
}
.catagory-hover {
  background-color: darkturquoise;
}
.catagory-hover:hover {
  cursor: pointer;
  color: white;
  background-color: crimson;
}
